@font-face {
    font-family: Player2;
    src: url('../assets/PressStart2P-Regular.ttf');
}

*,*::after,*::before{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    height: 100vh;
    width: 100vw;
    font-family: 'Player2', sans-serif;
    color: white;
    gap: 20px;
}
.mainContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainGrid{
    width: 960px;
    height: 640px;
    outline: 3px solid rgb(248, 248, 248);
    box-shadow: 10px 10px 10px rgba(248, 248, 248, 0.308);
    display: grid;
    grid-template-columns: repeat(30, 32px);
    grid-template-rows: repeat(20, 32px);

}
.wall{
    background-image: url('../assets/wall.png');
    background-size: contain;
    width: 32px;
    height: 32px;
    /* outline: 1px solid white; */
}
.dot{
    background-image: url('../assets/yellowDot.png');
    width: 32px;
    height: 32px;
}
.blank{
    background-image: url('../assets/blank.png');
}
#pac{
    background-image: url('../assets/pacman.gif');
    background-color: black;
    background-size: cover;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}
.ghost{
    background-image: url('../assets/ghost.png');
    background-color: black;
    width: 32px;
    height: 32px;
    object-fit: contain;
}
.cherry{
    background-image: url('../assets/cherry.png');
    background-size: contain;
    background-color: black;
    width: 32px;
    height: 32px;
    object-fit: contain;
}
.scoreContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start > button{
    background-color: darkblue;
    width: 80px;
    height: 50px;
    color: white;
    font-family: 'Player2';
    border: 4px solid blue;
}
.start > button:hover{
    background-color: aqua;
    cursor: pointer;
}
